.abroad {
  background-color: #fff;
  padding-top: 95px;
  padding-left: 24px;
  padding-right: 24px;

  &__title {
    width:100%;
    max-width: 540px;
    color:#000;
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-size:26px;
    font-weight:300;
    line-height:32px;
    padding-right:12px;
    text-align:left;
  }
  &__icon {
    width: 60px;
    max-width: 60px;
  }
  .abroad__title-line {
    &.pink {
      width: 100%;
      background:#ff1147;
    }
    &.purple {
      width: 100%;
      background:#af6ef6;
    }
  }

  &__text {
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    color: #646464;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 25px;
  }

  .table-btn-2 {
    td {
      border:1px solid $link;
      border-radius:3px;
      height:auto;
      text-align:center;
      vertical-align:middle;

      a {
        &.btn {
          color: $link !important;
          display:block;
          font-family:'Open Sans', Arial, Helvetica, sans-serif;
          font-size:12px;
          padding:5px 0;
          text-align:center;
          text-decoration:none;
          white-space:normal;

          span {
            color: $link;
          }
        }
      }
    }
  }

  &__name {
    color:#000;
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-size:26px;
    font-weight:300;
    line-height:32px;
    padding-top:38px;
    text-align:left;
  }
  .two-columns {
    &.item {
      direction: rtl;
      text-align: center;
      padding-bottom: 90px;
      background-color: #fff;

      .right,
      .left {
        direction:ltr;
        margin:0;
        display:inline-block;
        font-size:14px;
        text-align:left;
        vertical-align:top;
        width:100%;
      }
      .right {
        max-width:255px;

        img {
          display:block;
          height:auto;
          width: 100%;
          max-width: 255px;
          border:0;
        }
      }
      .left {
        max-width:288px;

        .bullets {
          padding-top: 15px;
          padding-right: 10px;

          .icon {
            padding-bottom:10px;
            padding-right:10px;
            text-align:left;
            vertical-align:top;
            padding-top: 10px;

            img {
              border: 0;
              width: 15px;
              margin: 0;
            }

            &.city {
              padding-top: 0;
            }

            &__text {
              -webkit-font-smoothing: subpixel-antialiased;
              color: #646464;
              font-family: Arial, Helvetica, sans-serif;
              padding-top: 10px;
              font-size: 16px;
              line-height: 20px;
              padding-bottom: 10px;
              text-align: left;

              &.city {
                -webkit-font-smoothing:subpixel-antialiased;
                color:#999999;
                font-family:Arial, Helvetica, sans-serif;
                font-size:16px;
                line-height:24px;
                padding-bottom:10px;
                text-align:left;
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}