mixin text(col)
    if col = 1
        tr
            td.intro.u-ph-sm(style='padding-bottom:30px;padding-left:12px;padding-right:12px;padding-top:20px;')
                table(cellpadding='0', style='border-collapse:collapse;', width='100%')
                    tbody
                        tr
                            td.inner.u-ph(style='background-color:#fff;padding-bottom:30px;padding-left:24px;padding-right:24px;padding-top:30px;')
                                .t-p(style='-webkit-font-smoothing:subpixel-antialiased;margin:0;color:#646464;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:24px;text-align:left;')
                                    | Представляем вашему вниманию дайджест коммерческой недвижимости этой недели. В него вошли: торговое помещение в бизнес-центре на Тверской, помещения для бизнеса в центре города и отдельно стоящие здания в местах интенсивного пешеходного трафика. Более детальную информацию спрашивайте у наших специалистов.
