include ./text/text.pug
include ./header/header.pug
include ./footer/footer.pug
include ./month/month.pug
include ./numbers/numbers.pug
include ./flat/flat.pug
include ./home/home.pug
include ./abroad/abroad.pug