extends ./layouts/kf.pug

block content
    .e-wrapper(style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin:0;background-color:#f9f9f9;table-layout:fixed;text-align:center;')
        <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"> <tr> <td valign="top" width="100%" style="width:100%;background-color:#f9f9f9;"> <![endif]-->
        <!--[if (gte mso 9)|(IE)]><table width="624" align="center" border="0" cellpadding="0" cellspacing="0"> <tr> <td valign="top" width="624" style="width:624px;"> <![endif]-->
            table.outer(align='center', cellpadding='0', style='margin:0 auto;border-collapse:collapse;max-width:600px;width:100%;')
                +header()
            table.outer(align='center', cellpadding='0', style='margin:0 auto;border-collapse:collapse;max-width:600px;width:100%;')
                tr
                    td(style='background-color: #ffffff; width: 100%;')
                        table(align='center', cellpadding='0', style='margin:0 auto;border-collapse:collapse;max-width:600px;width:100%;')
                            +month()
                            +numbers()
                            +flat()
                            +home()
                            +abroad()
            table.outer(align='center', cellpadding='0', style='margin:0 auto;border-collapse:collapse;max-width:600px;width:100%;')
                +footer()
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->